@media screen and (min-width: 700px) {
  #form {
    padding: 20px 100px;
  }

  .search input#searchbar {
    width: 220px;
  }

  section {
    margin-top: 25px;
  }
}

@media screen and (max-width: 700px) {
  #navbar {
    padding: 8px 0;
  }
  .navbar__menu .navbar__menu__item {
    display: none;
  }
}
