h1 {
  letter-spacing: 2px;
}

#form {
  padding: 20px 50px;
  background-color: var(--color-light-white);
}

#form input[type='text'] {
  padding: 10px;
  width: 100%;
  margin: 5px 0 22px 0;
  border: none;
  background: var(--color-light-purple);
  border-radius: var(--input-border-radius);
  transition: all 0.3s ease 0s;
  letter-spacing: 3px;
  font-size: 16px;
}

#form input[type='text']:focus {
  background-color: var(--color-white);
  outline: none;
}

input[id='password'] {
  -webkit-text-security: disc;
}

hr {
  border: 1px solid var(--color-dark-purple);
  margin-bottom: 25px;
  opacity: 0.7;
}

label {
  font-size: 20px;
}

.gender {
  margin: 5px 0 22px 0;
}

.gender label {
  padding-right: 30px;
}

.gender input {
  margin: 0 10px;
}

.phone {
  display: flex;
}

/* Select only this */
.phone input#code {
  margin-right: 8px;
  width: 20%;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button {
  font-size: 15px;
  width: 130px;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
  margin: 8px 0;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  outline: none;
}

button[type='reset'] {
  background-color: var(--color-dark-grey);
  margin-left: 10px;
}

button:hover,
button:focus {
  background-color: white;
  color: black;
  box-shadow: 0 15px 20px rgba(104, 54, 185, 0.4);
  transform: translateY(-5px);
}
