@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Work+Sans:wght@300;400;500;600&display=swap');

:root {
  --clr-primary: rgb(81, 105, 243);
  --clr-light: rgb(241, 241, 241);
  --clr-light-gray: rgb(226, 226, 226);
  --clr-dark: rgb(8, 8, 8);
  --clr-warning: rgb(112, 40, 40);
  --clr-accent: rgb(226, 153, 222);
  --clr-accent-2: rgb(255, 0, 212);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);

  display: grid;
  /* height is auto */
  grid:
    'header header header header' auto
    '...... lists  active ......' auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.15);
  margin: -0.3em 0 0.5em;
  text-shadow: 0 -5px 0px rgba(0, 0, 0, 0.3);
}

.all-tasks {
  grid-area: lists;
}

.task-list-title {
  text-shadow: 0 5px 0px rgba(0, 0, 0, 0.3);
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: square;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

form {
  display: flex;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 0.25em;
  transition: opacity 250ms ease-in;
}

.btn.create:hover {
  opacity: 0.7;
  color: var(--clr-accent);
}

.new {
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  outline: none;
  padding: 0.25em;

  transition: border-bottom 150ms ease-in;
  order: 2;
}

.new::placeholder {
  opacity: 0.4;
}

.new:focus {
  border-bottom-width: 3px;
}

.new:focus::placeholder {
  opacity: 0.15;
}

input::placeholder {
  color: inherit;
}

.new.list {
  font-size: 1.1rem;
}

.active-list {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--clr-accent);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
}

/* 3. TODO LIST  */
.todo-list {
  --spacer: 2rem;

  grid-area: active;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.todo-header {
  padding: var(--spacer);
  background: var(--clr-light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0 1em 0 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-primary);
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}

.new-task-creator .create {
  color: var(--clr-primary);
}

/* Remove the original checkbox */
[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 1.25em;
}

.task {
  position: relative;
}

.task::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0.5em;
  height: 1px;
  background: currentColor;
  opacity: 0.1;
}

.custom-checkbox {
  --size: 0.75em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

/* Selector + sibling*/
.task:hover .custom-checkbox,
[type='checkbox']:focus + label .custom-checkbox {
  transform: scale(1.2);
  color: var(--clr-accent);
}

[type='checkbox']:checked + label .custom-checkbox {
  background: var(--clr-accent);
  border-color: var(--clr-accent);
  box-shadow: inset 0 0 0px 2px var(--clr-light);
}

[type='checkbox']:checked + label {
  opacity: 0.5;
}

.task label::after {
  content: '';
  position: absolute;
  left: 1.5em;
  right: 0;
  top: 50%;
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 150ms ease-in-out;
}

[type='checkbox']:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -50px;
  color: var(--clr-light);
}

.btn.delete {
  font-size: 1.1rem;
  transition: color 200ms;
}

.btn.delete:hover {
  color: var(--clr-warning);
}
