@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');

:root {
  --color-btn: #f1b694;
  --color-num: #b46c18;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Recursive', sans-serif;
  background-color: var(--color-black);
  position: relative;
}

.game__title {
  font-size: 40px;
  color: var(--color-white);
  letter-spacing: 1px;
  text-align: center;
  margin: 80px 0 50px 0;
}

.game {
  background: url('img/background.png') center/cover no-repeat;
  width: 950px;
  height: 600px;
  border-radius: 20px;
  margin: auto;
  position: relative;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  padding: 20px;
}

.game__level {
  position: fixed;
  left: 20px;
  background-color: var(--color-num);
  color: var(--color-white);
  border: 5px solid var(--color-black);
  border-radius: 10%;
  padding: 5px;
}

.game__carrotnum {
  position: fixed;
  right: 20px;
  background-color: var(--color-num);
  color: var(--color-white);
  border: 5px solid var(--color-black);
  border-radius: 10%;
  padding: 5px;
}

button {
  cursor: pointer;
  border: 5px solid var(--color-black);
  border-radius: 10px;
  background-color: var(--color-btn);
  width: 70px;
  height: 70px;
  transition: all 100ms ease-in;
}

button:hover {
  background-color: var(--color-black);
  color: var(--color-btn);
}

button i {
  font-size: 35px;
}

.game__timer {
  width: 150px;
  border: 5px solid var(--color-black);
  background-color: var(--color-white);
  border-radius: 10px;
  text-align: center;
  margin: 10px 0;
}

.game__score {
  width: 70px;
  height: 70px;
  border: 5px solid var(--color-black);
  border-radius: 50%;
  background-color: var(--color-num);
  color: var(--color-white);
  text-align: center;
  line-height: 60px;
}

.game__field {
  position: relative;
  width: 100%;
  height: 50%;
  margin-top: 50px;
}

.pop-up {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  background-color: #00000080;
  border-radius: 20px;
}

.pop-up__message {
  color: var(--color-white);
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 10px;
}

.pop-up--hide {
  display: none;
}

.carrot,
.bug {
  cursor: pointer;
  animation: FadeInBySize 500ms;
}

@keyframes FadeInBySize {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
