@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Major Mono Display', monospace;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, pink, rgb(0, 26, 255));
}

.title {
  font-weight: normal;
  text-align: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(140px, auto) repeat(5, 100px);
}

button {
  font-weight: bolder;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2.1rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}
