@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#acb6e5, #9df3e3) center/cover no-repeat;
}

.bucket-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 1025px) {
  .bucket-list {
    display: none;
  }

  .wide-screen {
    display: block;
  }
  .wide-screen p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .wide-screen {
    display: none;
  }
}

.title {
  margin: 55px 0;
  font-size: 40px;
  font-weight: 600;
  color: white;
  font-family: 'Petit Formal Script', cursive;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
}

.frame {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(255, 255, 255, 0.9);
  width: 35vh;
  height: 70vh;
  position: relative;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

header {
  background-color: white;
  height: 60px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 15px;
  font-size: 23px;
  font-weight: 400;
  color: rgb(122, 121, 121);
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  margin: 10px 5px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(117, 117, 117, 0.25),
    0 4px 4px rgba(168, 162, 162, 0.22);
  font-size: 20px;
  color: rgb(122, 121, 121);
  transition: all 0.15s ease-in;
}

.item:hover {
  transform: scale(1.02);
}

input {
  position: absolute;
  bottom: 65px;
  padding: 0 10px;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  transition: all 0.5s ease-in;
  font-size: 20px;
  color: rgb(115, 115, 228);
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

input:focus::placeholder {
  opacity: 0.5;
}

button {
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  border-style: none;
  transition: all 250ms ease-in;
}

button:hover {
  transform: scale(1.1);
}

button.list__delete {
  background-color: transparent;
}

button img {
  width: 35px;
  height: 35px;
}

button.add {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  font-size: 20px;
  color: white;
  background: linear-gradient(45deg, #74ebd5, #acb6e5);
}

button.add:hover {
  transform: translate(-50%) scale(1.1);
}
