* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: rgb(36, 36, 36);
  color: white;
}

section {
  padding: 10px 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  cursor: pointer;
}

/* (1) Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
  padding: 0 10px;
  position: sticky;
  top: 0;
}

header .logo i {
  color: red;
  font-size: 24px;
  background-color: black;
}

header .logo i.fa-bars {
  font-size: 18px;
  color: #bbb8b8;
  padding-right: 15px;
}

header .logo span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  background-color: black;
}

header .icon {
  background-color: black;
}

header .icon i {
  padding: 0 5px;
  color: #bbb8b8;
  background-color: black;
}

/* (2) Video Player */
.player {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* (3) Video Info */
/* (3-1) Metadata */
.info .metadata .hashtags {
  display: flex;
}

.info .metadata .hashtags li {
  font-size: 14px;
  color: #3ea6ff;
  padding: 0 3px;
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: 16px;
}

.moreBtn i {
  color: #bbb8b8;
}

.views,
.subscribers,
.thumbnailInfo .youtuber {
  font-size: 14px;
  color: #bbb8b8;
}

.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

/* Action Buttons */
.actionBtn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6px 0;
}

.actionBtn button {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  opacity: 0.7;
}

.actionBtn button .active {
  color: #3ea6ff;
}

/* (3-3) Channel Description */
.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.channel .metadata {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.metadata img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding-right: 10px;
}

.channel div.info {
  display: flex;
  flex-direction: column;
}

.youtuber {
  font-size: 15px;
}

.subBtn {
  padding: 10px;
  font-size: 15px;
  background-color: #cc0000;
  text-transform: uppercase;
  border-radius: 2px;
  height: 42px;
}

/* (4) Up Next */
.videoList {
  display: flex;
  margin-bottom: 4px;
}

.thumbnail img {
  width: 170px;
  padding-right: 6px;
}

.thumbnailInfo {
  display: flex;
  flex-direction: column;
}

/* over 1000px */
@media screen and (min-width: 1400px) {
  .contents {
    display: flex;
    margin: 30px 50px;
  }

  video {
    width: 100%;
    max-width: 1200px;
  }

  .actionBtn {
    justify-content: right;
  }
}
