/* initial code */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
  background-color: #f6f6f6;
  padding: 50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

/* main code */
/* 이렇게 간단한 포스터였지만 내가 모르는 게 정말 많다는 걸 느낀다.
모범 답안을 보면서 많이 깨닫는다. 나는 정말 얕게 알고 있구나 
baseline, flex-start 같은 것들도 잘 활용할 줄 알아야겠다 */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrap {
  background-color: #f4f4f4;
  width: inherit; /*💥*/
  height: inherit; /*💥*/
  padding: 40px 30px;
  box-shadow: 18px 1px 5px #dfded5, -10px -4px 5px #fcfeff;
}

.flex-wrap {
  display: flex;
  justify-content: space-between; /*💥나는 position absolute로 했는데 필요없다*/
  align-items: baseline; /*💥*/
  width: inherit;
  padding-bottom: 12px;
  border-bottom: 2px solid black;
}

.flex-wrap-h1 {
  font-size: 88px;
  font-weight: bold;
}

.flex-wrap-month {
  font-size: 36px;
  font-weight: bold;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12px;
  font-size: 10px;
}

.list-wrap li {
  margin-bottom: 3px;
}

.list-wrap {
  display: flex;
  flex-basis: 240px; /*💥*/
  justify-content: space-between;
  align-items: baseline; /*💥*/
}

.main-content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; /*💥*/
  margin-top: 70px;
  min-height: 700px;
}

.circle {
  flex-basis: 220px; /*💥*/
  height: 220px;
  border-radius: 110px;
}

.blue {
  background-color: #bbe1f0;
}

.gray {
  background-color: #616365;
}

.green {
  background-color: #04a565;
}
