@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.pamphlet {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 10px;
  min-width: 1000px;
}

.orange {
  background-color: #ff7400;
  width: 60%;
  display: grid;
  grid-template-columns: minmax(40px, max-content) minmax(650px, 1000px) 30%;
  grid-template-rows: repeat(12, 1fr);
  border: 3px solid #ff0400;
  padding-right: 10px;
}

.orange div {
  border: 1px solid #ff0400;
}

.orange .index {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: rotate(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.orange .topic {
  font-size: 90px;
  font-weight: 600;
  letter-spacing: -7px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.orange .index,
.orange .topic {
  grid-row: span 2;
  color: #ff0400;
}

.orange .info {
  color: #ff0400;
}

.orange .info,
.orange .year {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.orange .year .round {
  height: 60%;
  width: 90%;
  color: #ff7400;
  background-color: #ff0400;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 4%;
  font-size: 30px;
  font-weight: 500;
}

.line .pink {
  background-color: #ff00ff;
  width: 100%;
  height: 50%;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.line .blue {
  background-color: #1900ff;
  width: 100%;
  height: 50%;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: rotate(-180deg);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 0;
}

.red {
  background-color: #ff0400;
  width: 36%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(6, 1fr);
  gap: 10px;
  padding: 0px 10px;
}

.red .main,
.red .contents .title {
  font-size: 25px;
  font-weight: 700;
}

.red .flex {
  display: flex;
  justify-content: space-between;
}

.red .contents {
  border-top: 2px solid black;
}

#white {
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

.orange .year .round#white {
  background-color: whitesmoke;
  color: #ff0400;
}
