@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:root {
  --bg-color: #e6e7eb;
  --color-white: #ffffff;
  --color-gray: #868588;
  --color-purple: #7981ff;
  --color-orange: #ff671a;
  --color-yellow: #ffa928;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  overflow-y: scroll;
  height: 400px;
}

li {
  list-style: none;
  margin: 10px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 45px;
}

button i {
  color: var(--color-gray);
}

button i:hover {
  color: var(--color-orange);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-list-container,
.my-list-container {
  background-color: var(--color-white);
  min-width: 350px;
  min-height: 700px;
  border-radius: 45px;
  margin: 50px;
  padding: 30px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

header {
  display: flex;
  color: var(--color-gray);
  font-weight: 500;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

header .title {
  margin: 0;
}

header .avatar {
  font-size: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purple);
  border-radius: 45px;
  padding: 5px;
  color: var(--color-white);
}

.info .info__date {
  font-weight: 500;
}

.info .info__category select {
  outline: none;
  border-radius: 45px;
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-between;
}

form {
  position: absolute;
  bottom: 100px;
  width: 80%;
}

form input {
  outline: none;
  border-radius: 45px;
  padding: 5px;
  border: var(--color-purple) solid 1px;
  width: 90%;
}

.create-list-btn {
  position: absolute;
  bottom: 30px;
  padding: 10px;
  color: var(--color-white);
  background-color: var(--color-orange);
}

.clear-list-btn {
  position: absolute;
  bottom: 30px;
  padding: 10px;
  color: var(--color-white);
  background-color: var(--color-yellow);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-yellow);
}
